/*
.authentication__header {
  color: white;
  text-align: center;
}
*/

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: left;
}
/*
span {
  cursor: pointer;
  color: rgb(6, 69, 173);
  text-decoration: underline;
  text-align: left;
}
/*
.authentication form {
  margin-bottom: 1rem;
}
*/
